.Skills{
    width: 100%;
}

.Container {
    background-color: #b19e7d;
}

.Adobe {
    width: 80%;
 }

.Office{
    width: 60%;
}

.Coding{
    width: 40%;
}

.Line {
    height: 2rem;
    background-color: #3a4255;
}

.Text{
    color: #fff;
    margin: 1rem;
}