.Experience{
    background-color: rgb(146, 157, 158, 0.9);
    text-align: center;
    padding: 5rem 0rem;
}

.Summary {
    background-color: rgb(127, 134,136, 0.9);
    text-align: center;
    padding: 3rem 0;
}

.Manager{
    background-color: rgb(146, 157, 158, 0.9);
   padding: 2rem 0;
}

.Supervisor{
    background-color: rgb(127, 134,136, 0.9);
    padding: 2rem 0;
}

.Designer{
    background-color: rgb(146, 157, 158, 0.9);
    padding: 2rem 0;
}

.Artist{
    background-color: rgb(127, 134,136, 0.9);
    padding: 2rem 0;
}

.Experience h2{
    font-size: 2rem;
    color:rgba(243, 227, 103, 0.9);
    
}

.Experience p {
    display: flex;
    max-width: 50rem;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    
}



